<style>
  .card {
    display: flex;
  }
  
  .card-img {
    flex-shrink: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
</style>
<div class="container mt-5">
  <div class="row">
    <div clas="event-card" *ngFor="let evento of eventos" class="col-md-6">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src={{evento.imagen}} class="card-img" alt="Imagen del evento">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{evento.nombre}}</h5>
              <p class="card-text">{{evento.detalle}}</p>
              <p class="card-text">{{evento.fecha}}</p>
              <p class="card-text">{{evento.hora}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CARTAS SIN AYUDA DEL CHAT
<div class="container mt-5">
  <div class="row">
    <div clas="event-card" *ngFor="let evento of eventos">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src={{evento.imagen}} class="card-img" alt="Imagen de la carta 1">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{evento.nombre}}</h5>
              <p class="card-text">{{evento.detalle}}</p>
              <p class="card-text">{{evento.fecha}}</p>
              <p class="card-text">{{evento.hora}}</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
-->