
<div class="container justify-content-center">
    <h1 style="text-align: center; margin-top: 50px;"><a id="convierteteenorador">Presenta tu evento</a></h1>

<div class="col nombre">
    <input type="text" class="form-control" placeholder="Título" style="font-size: 20px; height: 50px;"
        aria-label="First name">
</div>
<div class="form-floating">
<textarea class="form-control" placeholder="Sobre qué quieres hablar" style="height: 200px; margin-top: 2%;"></textarea>
<label for="floatingTextarea2" style="font-size: 25px; color: rgba(201, 195, 190, 0.8)">¿Sobre qué quieres
    hablar?</label>
</div>
<h5 class="titulo">Recuerda incluir un título para tu charla</h5>
<div class="d-grid gap-2">
<button class="btn btn-success" type="button" style="margin-top: 3%; margin-left: 30%; margin-right: 30%;" >Enviar</button>
</div>