<h4 >quiens somossssssssssssssssssssssssssssssss</h4>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/handball.jpg" class="card-img" alt="Imagen de la carta 1">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Título de la carta 1</h5>
              <p class="card-text">Descripción de la carta 1. Este es un texto más largo que puede hacer que la imagen se ajuste automáticamente. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor quam ut nibh bibendum, sit amet rutrum justo convallis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/handball.jpg" class="card-img" alt="Imagen de la carta 2">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Título de la carta 2</h5>
              <p class="card-text">DeÉrase una vez en un pequeño pueblo rodeado de bosques, vivía un valiente joven llamado Diego. Diego soñaba con aventuras y anhelaba descubrir los secretos ocultos más allá de su hogar. Un día, decidió emprender un viaje al bosque prohibido, un lugar misterioso y lleno de leyendas.scripción de la carta 2. Este es otro texto que puede hacer que la imagen se ajuste automáticamente. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur, metus at auctor tincidunt, elit mauris gravida lectus, ac tempus urna ex eget nisl.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>