
<div class="container"><div class="QS">
  <div id="parallax">
    <div data-depth="0.6" class="layer">
      <div class="some-space">
        <h1 class="h1qs"  style="color: rgba(214, 103, 21, 0.8); font-family: 'Arial Narrow'" >¿Quienes Somos?</h1>
        <img class="imgqs" src="http://img07.deviantart.net/1381/i/2013/216/b/b/pinkie_pie_cupcake_by_magicdog93-d6gp791.png" alt=""/>
      </div>
    </div>
   
    <div data-depth="0.3" class="layer">
      <div class="some-more-space">
        <h2 class="hqs" style="font-weight: lighter;" >En la localidad de Laboulaye, se ha construido un centro polideportivo con el fin de unir a las personas de todas las edades en un ambiente de recreación y diversión. Fomentando el deporte, el arte, el desarrollo de la cultura y sociales. 

          Somos un grupo de estudiantes, profesionales y colaboradores. <br> 

          Tenemos como objetivo fundarnos como club!  <br>   

          ▫️Nuestra misión es: Promover el deporte, la cooperación, la integración, la cultura, la educación, la salud. <br> 

          ▫️Nuestros  Valores: Respeto, Disciplina, Honestidad, Compañerismo, Superación, Compromiso, Libertad, Perseverancia, Pasión.<br> 

          ¿Dónde funcionamos? → En el nuevo Polideportivo Social, en la esquina de Diputado Guevara y Belgrano, en la localidad de Laboulaye. <br>  
           </h2>
           
      </div>
    </div>
  </div>
  </div>

 

    <div class="card" style="width: 70rem;">
      <img src="assets/img/chicosdelpolideportivo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

  