<!-- NAVBAR -->
<div class="container-extends">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <img src="assets/img/logopolideportivo.jpeg" class="rounded-sm " alt="Logo" style="margin-left: 10%;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Polideportivo Laboulaye</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" routerLink="/quienesSomos">¿Quiénes somos?</a>


            <a class="nav-link active" style="color: rgba(214, 103, 21, 0.8)"routerLink="/login">Iniciar sesión</a>
            <a class="nav-link" href="#">Registro</a>
          </div>
          </div>
        </div>
      </div>
  
    </nav>
  </div>
  <!-- NAVBAR --> 